---
---

@import "{{ site.theme }}";

.inner {
  max-width: 75%;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

header {
  width:220px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:700px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:220px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}