---
---

@import "{{ site.theme }}";

.inner {
  max-width: 75%;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}

header {
  width:220px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  margin-left: 260px;
  min-width: 300px;
  width:auto;
  float:right;
  overflow: auto;
  padding-bottom:50px;
}

footer {
  width:220px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.column {
  float: left;
  width: 49.5%;
  margin-right: 0.5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
