---
---

@import "{{ site.theme }}";

.inner {
  max-width: 75%;
}

.wrapper {
  width:960px;
  margin:0 auto;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}

header {
  width:220px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  margin-left: 240px;
  min-width: 300px;
  width:auto;
  float:right;
  overflow: auto;
  padding-bottom:50px;
}

footer {
  width:220px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}